In [3]:
import pandas as pd
df = pd.read_excel('data/SeriesReport-20230101054951_4fcbaa.xlsx')

C:\Users\jeongseokLim\anaconda3\envs\jupyter\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
df

,Labor Force Statistics from the Current Population Survey,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,Original Data Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Series Id:,LNS14000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Seasonally Adjusted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Series title:,(Seas) Unemployment Rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Labor force status:,Unemployment rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Type of data:,Percent or rate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Age:,16 years and over,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Years:,2012 to 2022,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
11,2012,8.3,8.3,8.2,8.2,8.2,8.2,8.2,8.1,7.8,7.8,7.7,7.9
12,2013,8,7.7,7.5,7.6,7.5,7.5,7.3,7.2,7.2,7.2,6.9,6.7
13,2014,6.6,6.7,6.7,6.2,6.3,6.1,6.2,6.1,5.9,5.7,5.8,5.6
14,2015,5.7,5.5,5.4,5.4,5.6,5.3,5.2,5.1,5,5,5.1,5
15,2016,4.8,4.9,5,5.1,4.8,4.9,4.8,4.9,5,4.9,4.7,4.7
16,2017,4.7,4.6,4.4,4.4,4.4,4.3,4.3,4.4,4.3,4.2,4.2,4.1
17,2018,4,4.1,4,4,3.8,4,3.8,3.8,3.7,3.8,3.8,3.9
18,2019,4,3.8,3.8,3.6,3.6,3.6,3.7,3.7,3.5,3.6,3.6,3.6
19,2020,3.5,3.5,4.4,14.7,13.2,11,10.2,8.4,7.9,6.9,6.7,6.7
20,2021,6.4,6.2,6,6,5.8,5.9,5.4,5.2,4.7,4.6,4.2,3.9
21,2022,4,3.8,3.6,3.6,3.6,3.6,3.5,3.7,3.5,3.7,3.7,NaN