In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/sm-joo/sm-joo/master/DEXKOUS.csv', parse_dates=['DATE'], index_col='DATE')

In [3]:
df

            DEXKOUS
DATE
2015-03-13   1135.7
2015-03-16  1129.62
2015-03-17  1127.69
2015-03-18  1127.09
2015-03-19  1121.21
...             ...
2020-03-09  1203.75
2020-03-10   1193.1
2020-03-11  1194.16
2020-03-12  1206.19
2020-03-13   1211.7

[1306 rows x 1 columns]

# 차분

시차 = lag